*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand',sans-serif;
}
header{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
form{
    display: grid;
    grid-template-columns: 40px 150px 40px 150px 40px 150px;
    grid-template-rows: 30px 30px;
    grid-row-gap :20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#option1{
    grid-column: 1;
    grid-row: 1;
}
#label1{
    grid-column: 2;
    grid-row: 1;
}
#option2{
    grid-column: 3;
    grid-row: 1;
}
#label2{
    grid-column: 4;
    grid-row: 1;
}
#option3{
    grid-column: 5;
    grid-row: 1;
}
#label3{
    grid-column: 6;
    grid-row: 1;
}
#option4{
    grid-column: 1;
    grid-row: 2;
}
#label4{
    grid-column: 2;
    grid-row: 2;
}
#option5{
    grid-column: 3;
    grid-row: 2;
}
#label5{
    grid-column: 4;
    grid-row: 2;
}
#option6{
    grid-column: 5;
    grid-row: 2;
}
#label6{
    grid-column: 6;
    grid-row: 2;
}
#input_container{
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#textbox{
    height: 50px;
    width: 250px;
    text-align: center;
}
#search{
    width: 100px;
    height: 50px;
    position:absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}
#popup{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1;
    display:none;
}
#popup_window{
    width: 60%;
    height: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #ffffff;
    z-index: 1;
}
#popup_exit{
    width:50px;
    height: 50px;
    position: absolute;
    cursor: pointer;
    background-color: red;
    top: 10%;
    left: 90%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
#loading_wheel{
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%,-50%);
color: lightblue;
}
.noResults{
    border: 10px solid green;
}
#check{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: black;
}
.check_titulo{
    font-size: 2rem;
    position: absolute;
    color: lightseagreen;
    top: 15%;
    left: 60%;
    transform: translate(-50%,-50%);
}
.loading{
    border: 3px solid lightseagreen;
}
#popup_exit{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
#alerta{
    color: red;
    position: absolute;
    top: 12%;
    left: 20%;
    transform: translate(-50%,-50%) scale(4);
}
.alerta_titulo{
    color: red;
    font-size: 3rem;
    position: absolute;
    top: 5%;
    left: 40%;
}
.alerta_texto{
    color: red;
    position: absolute;
    font-size: 1.2rem;
    font-weight: 300;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align:justify;
}
#check{
    position: absolute;
    top: 15%;
    left: 20%;    
    transform: translate(-50%,-50%) scale(4);
    color: lightseagreen;
}
.check_texto{
    font-size: 1.5rem;
    position: absolute;
    text-align: justify;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: lightseagreen;
}
#LGPD_disclaimer{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
}
#popup_disclaimer{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.8);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 3;
    display: block;
}
#disclaimer_wrapper{
    width: 70%;
    height: 70%;
    background-color: white;
    z-index: 4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
}
#disclaimer_wrapper span{
    font-size: 1.1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: justify;
}
#disclaimer_wrapper h2{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#exit_disclaimer{
    background-color: black;
    font-size: 1.3rem;
    color: white;
    display: inline;
    width: 50%;
    height: 10%;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}
